body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #ff2d2d, #ff6a00);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding-top: 120px;
}

.page {
  display: none;
  padding-top: 100px;
  text-align: center;
}

.active {
  display: block;
}

.card {
  background: rgba(0,0,0,0.4);
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.server-box {
  margin: 20px;
  padding: 10px;
  background: rgba(0,0,0,0.3);
  display: inline-block;
  border-radius: 10px;
}
